<div class="background">
  <div class="contactus_container">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +91 9372566312</div>
        </div>
        <div class="screen-body-item">
          <form class="app-form" data-netlify="true" name="contact" method="POST">
            <div class="app-form-group">
              <input
                required
                class="app-form-control"
                id="name"
                name="name"
                type="text"
                placeholder="NAME"
              />
            </div>
            <div class="app-form-group">
              <input
                required
                class="app-form-control"
                type="email"
                id="email"
                name="email"
                placeholder="EMAIL"
              />
            </div>
            <div class="app-form-group">
              <input
                required
                class="app-form-control"
                type="text"
                placeholder="Subject"
                id="subject"
                name="subject"
              />
            </div>
            <div class="app-form-group message">
              <input
                required
                class="app-form-control"
                type="text"
                placeholder="MESSAGE"
                name="message"
                id="message"
              />
            </div>
            <div class="app-form-group buttons">
              <button
                type="submit"
                name="contactmail"
                class="app-form-button"
                id="contactmail"
              >
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
