<!-- header start -->
<header class="header" id="header">
  <nav class="nav container">
    <a routerLink="/" class="nav_logo">
      <img src="logo.webp" alt="." />FreshMenu</a
    >

    <div class="nav_menu" id="nav-menu">
      <ul class="nav_list">
        <li class="nav_item">
          <a routerLink="/" class="nav_link">Home</a>
        </li>

        <li class="nav_item">
          <a routerLink="Contact-Us" class="nav_link">Contact Us</a>
        </li>

        <li class="nav_item">
          <a routerLink="CheckOut" class="nav_link">Checkout</a>
        </li>

        <li *ngIf="access" class="nav_item">
          <a
            routerLink="HomePage/Administration"
            id="AdminPage"
            class="nav_link"
            >Administration</a
          >
        </li>

        <li class="nav_item">
          <a id="OrderHistory" routerLink="OrderHistory" class="nav_link"
            >Order History</a
          >
        </li>
      </ul>

      <!-- Close button -->
      <div class="nav_close" (click)="navOpenClose()" id="nav-close">
        <i class="ri-close-line"></i>
      </div>
    </div>

    <div class="nav_actions">
      <!-- Search button -->
      <i
        class="ri-search-line nav_search"
        (click)="searchOpenClose()"
        id="search-btn"
      ></i>

      <!-- Login button -->
      <a
        class="ri-user-line nav_login"
        (click)="loginOpen()"
        id="login-btn"
      ></a>

      <!-- Toggle button -->
      <div class="nav_toggle" (click)="navOpenClose()" id="nav-toggle">
        <i class="ri-menu-line"></i>
      </div>
    </div>
  </nav>
</header>
<!--==================== SEARCH ====================-->

<div class="search" id="search">
  <form (submit)="onSearchSubmit()">
    <section action="#" class="search_form">
      <button
        class="ri-search-line search_icon"
        ID="Search_Btn"
        Text="&#xF0D1;"
        (click)="onSearchSubmit()"
      ></button>
      <input
        required="true"
        type="text"
        id="Search_text"
        placeholder="Search your desired food name"
        [(ngModel)]="searchItemName"
        name="searchItemName"
        class="search_input"
      />
    </section>
  </form>
  <div class="search_result_container">
    <div
      *ngFor="let items of SearchItems; index as i"
      class="search_result_items"
    >
      <a
        (click)="navigateToDetails(items.item_id)"
        id="Search_results"
        class="search_result_items"
      >
        <img [src]="items.item_image" alt="img" />
        <p>{{ items.item_name }}</p>
        <p>{{ items.item_price }}</p>
      </a>
    </div>
  </div>

  <i
    class="ri-close-line search_close"
    (click)="searchOpenClose()"
    id="search-close"
  ></i>
</div>
<!--==================== LOGIN ====================-->
<div class="login" id="login">
  <section action="#" class="login_form">
    <h2 class="login_title">Log In</h2>

    <div class="login_group">
      <form>
        <div>
          <label for="Login_Email" class="login_label">Email</label>
          <input
            type="email"
            id="Login_Email"
            type="email"
            required="true"
            [(ngModel)]="emailaddress"
            name="emailaddress"
            placeholder="Write your email"
            class="login_input"
          />
        </div>

        <div>
          <label for="Login_password" class="login_label">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Enter your password"
            id="Login_password"
            class="login_input"
          />
        </div>
      </form>
    </div>

    <div>
      <p class="login_signup">
        You do not have an account? <a (click)="OpenSignUp()">Sign up</a>
      </p>

      <button
        [disabled]="!LogInBtn"
        (click)="logger()"
        class="login_button"
        id="Login_user"
      >
        {{ LogInBtn ? "Log In" : "Checking" }}
      </button>
    </div>
  </section>

  <i
    class="ri-close-line login_close"
    (click)="loginClose()"
    id="login-close"
  ></i>
</div>
<!-- header end -->
<!-- content Routes -->
<router-outlet />
<!-- content Routes end -->
<!-- footer -->
<div class="footer">
  <div class="heading">
    <h2 class="footer_logo"><img src="logo.webp" alt="." />FreshMenu</h2>
  </div>
  <div class="content">
    <div class="services">
      <h4>Services</h4>
      <p><a href="#">Contact less</a></p>
      <p><a href="#">Home Delivery</a></p>
    </div>
    <div class="social-media">
      <h4>Social</h4>

      <p>
        <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
      </p>

      <p>
        <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
      </p>
    </div>
    <div class="links">
      <h4>Quick links</h4>
      <p><a href="#">Home</a></p>
      <p><a href="#">About</a></p>
      <p><a href="#">Blogs</a></p>
      <p><a href="#">Contact</a></p>
    </div>
    <div class="details">
      <h4 class="address">Address</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur
        <br />
        adipisicing elit. Cupiditate, qui!
      </p>
      <h4 class="mobile">Mobile</h4>
      <p><a>+9112233445</a></p>
      <h4 class="mail">Email</h4>
      <p>
        <a>{{ "abcdef@@gmail.com" }}</a>
      </p>
    </div>
  </div>
  <footer>
    <hr />
    &copy; 2021 ABCDEF Delivery Pvt. Ltd.
  </footer>
</div>
<!-- footer end -->
