<div class="detailpage-container">
  <div class="product-container">
    <img src="#" alt="Product Image" />
    <div class="detail-left">
      <div class="product-info">
        <div>
          <h2>item_name"</h2>
          <p>Price: ₹ item_price</p>
        </div>
        <div class="quantity-button" id="quantity-button">
          <div id="add-div">Add</div>
        </div>
        <div>
          <h2>Description:</h2>
          <p>item_description</p>
        </div>
      </div>
    </div>
  </div>
</div>
